.block.handson .block-inner-container {
  width: var(--block-width);
  padding: 40px;
  margin: 0 auto;
  background-color: var(--accent-color, transparent);
  color: var(--accent-foreground-color);
}
